<div class="row-fluid">
	<div class="jumbotron masthead">
			<div class="container">
				<h1>Opero</h1>
				<h2>A store where every item is made by your friends.</h2>
			</div>
		
	</div>
</div>
	<div class="social-bar">
		<div class="container">
			Coming Soon
		</div>
	</div>

