/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@media (min-width:500px) {
	
	.jumbotron h1 {
		font-size: 8.75em;
		padding: 10px;	
	}
	
}
@media (max-width:500px) {
	
	.jumbotron h1 {
		font-size: 5.75em;
		padding: 5px;
	}	
}



.jumbotron {
	background-image: url('/assets/textured_stripes.png');
	text-align:  center;
}

.jumbotron h1 {
    font-family: 'Swanky and Moo Moo', sans-serif;
}
.jumbotron h2 {
	font-family: 'Swanky and Moo Moo', sans-serif;
}
.masthead h1 { 
line-height: 1;
}

.social-bar {
	padding: 15px 0;
	text-align: center;
	background-color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid #DDD;
}




